.checkout-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 80px;
}

.checkout-form {
    width: 100%;
    margin: auto;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    padding: 40px;
}

.input-fields {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 14px;
    border: 1px solid #95A0A7;
}

.input-fields {
    outline-color: #f91944;
}

.pay-btn {
    width: 100%;
    background: #f91944;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 6px 0px;
    margin-top: 12px;
}

.pay-btn:hover {
    background-color: #1C2B35;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #fff;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .checkout-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
    }

    .payment-gif {
        width: 100%;
    }

    .checkout-form {
        width: 90%;
        margin: auto;
        padding: 24px 20px;
    }
}