.checkout-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 80px;
}

.checkout-form {
    width: 100%;
    margin: auto;
    border: 1px solid #95A0A7;
    /* background-color: var(--dark-07, #F3F3F3); */
    border-radius: 10px;
    /* margin: 60px auto; */
    padding: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 14px;
    border: 1px solid #95A0A7;
    /* background-color: #fff; */
}

.form-submit {
    width: 100%;
    background: #f91944;
    border-radius: 6px;
    border: none;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
    padding: 5px 0px;
}

.form-submit:hover {
    background-color: #1C2B35;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #fff;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .checkout-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
    }

    .checkout-form {
        box-shadow: none;
        width: 90%;
        margin-bottom: 60px;
        margin-top: 0px;
        padding-bottom: 20px;
    }

    .input-group select {
        width: 90%;
    }

    .payment-img {
        width: 100%;
    }
}