.background-img {
    background-image: url('../../../../assets/images/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 500px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.input-field:focus {
    outline-color: #f91944;
}

.search-btn {
    background-color: #f91944;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 24px;
    position: relative;
    right: 95px;
}


/* react tabs css modify */
.react-tabs__tab-list {
    border-bottom: none !important;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.react-tabs__tab {
    display: inline-block;
    border: none !important;
    bottom: 0 !important;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: none !important;
    border-bottom: 2px solid red !important;
    color: red !important;
    font-weight: 500;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .background-img {
        height: 138px;
        width: 100%;
        background-size: 100%;
        padding: 0px 10px;
    }

    .input-field {
        width: 100%;
        border: none;
        padding: 8px 20px;
        border-radius: 50px;
    }

    .search-btn {
        padding: 8px 24px;
    }
}