.foods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

/* react tabs css modify */
.react-tabs__tab-list {
    border-bottom: none !important;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.react-tabs__tab {
    display: inline-block;
    border: none !important;
    bottom: 0 !important;
    position: relative;
    list-style: none;
    padding: 6px 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 0px 6px;
    border: 1px solid #dee2e6 !important;
    border-radius: 6px;
}

.react-tabs__tab--selected {
    background: none !important;
    background-color: #f91944 !important;
    color: white;
    border-radius: 6px;
    padding: 6px 20px;
    border: none !important;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .foods {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* responsive tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .foods {
        grid-template-columns: repeat(2, 1fr);
    }
}