.food{
    text-align: center;
    /* padding: 20px 24px; */
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.food img{
   width: 60%;
}

.food-name{
    font-size: 18px;
    color: #444444;
    padding-top: 18px;
    padding-bottom: 6px;
}

.food-description {
    color: #737373;
    line-height: 0px;
    font-size: 15px;
}

.food-price {
    color: #151515;
    font-weight: 500;
    font-size: 18px;
}

.price-icon{
    display: flex;
    justify-content: center;
}

.shop-icon{
    background-color: #f91944;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-icon:hover {
    background-color: #fff;
    color: #f91944;
    border: 1px solid #f91944;
}