.cart-item{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    padding: 20px;
    border-radius: 10px;
}

.cart-item-info h2{
    font-size: 18px;
}

.cart-item-info p {
    color: #f91944;
    font-weight: 600;
}

.delete-btn{
    background-color: none !important;
}