.choose-us-title{
    text-align: center;
    margin-bottom: 30px;
}

.choose-us-title h2 {
    color: #151515;
    text-transform: capitalize;
}

.choose-us-title p {
    color: #737373;
    width: 50%;
    margin: auto;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .choose-us-title p {
        width: 90%;
    }
}